body{
    background-image: url('2.jpg');
    background-repeat: repeat;
    background-size:cover;
    background-color: blueviolet;
}
h1{
    display: flex;
    justify-content: center;
    color: rgb(4, 4, 4);
}
div{
    display: flex;
    justify-content: center;
}

 button{
    height: 40px;
    width: 65px;
    margin: 40px;
    color: rgb(253, 253, 254);
    background-color: rgb(32, 32, 33);

 }